[submodule "pack/plugins/start/nvim-lspconfig"]
	path = pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/plugins/start/nvim-cmp"]
	path = pack/plugins/start/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp.git
[submodule "pack/plugins/start/cmp-nvim-lsp"]
	path = pack/plugins/start/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/start/plenary.nvim"]
	path = pack/plugins/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/plugins/start/telescope-fzf-native.nvim"]
	path = pack/plugins/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "pack/plugins/start/telescope-ui-select.nvim"]
	path = pack/plugins/start/telescope-ui-select.nvim
	url = https://github.com/nvim-telescope/telescope-ui-select.nvim
[submodule "pack/plugins/start/mason.nvim"]
	path = pack/plugins/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "pack/plugins/start/lsp_signature.nvim"]
	path = pack/plugins/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "pack/plugins/start/oil.nvim"]
	path = pack/plugins/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "pack/plugins/start/nvim"]
	path = pack/plugins/start/nvim
	url = https://github.com/catppuccin/nvim
[submodule "pack/plugins/start/copilot.lua"]
	path = pack/plugins/start/copilot.lua
	url = https://github.com/zbirenbaum/copilot.lua
[submodule "pack/plugins/start/cmp-path"]
	path = pack/plugins/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/plugins/start/cmp-buffer"]
	path = pack/plugins/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/plugins/start/nvim-autopairs"]
	path = pack/plugins/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "pack/plugins/start/lazydev.nvim"]
	path = pack/plugins/start/lazydev.nvim
	url = https://github.com/folke/lazydev.nvim
[submodule "pack/plugins/start/telescope.nvim"]
	path = pack/plugins/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
	branch = 0.1.x
